/* Filterable Portfolio Stylesheet */



/* Import Fonts
------------------------------------------------------------ */
@import url(http://fonts.googleapis.com/css?family=Quattrocento);


/* Custom Classes
------------------------------------------------------------ */
.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
* html .group { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */




/* Filter */
dl { margin-bottom: 3em; color: #777; }
dt, dd { float: left; }
dt { margin-right: 5px; }
.filter li { float: left; }
.filter li:last-child:after { content: ""; }
.filter a { padding: 0 10px; color: #777; text-decoration: none; }
.filter a:hover, .current a { color: #4f0d4d; }

/* Portfolio Items */
.portfolio li { float: left; margin-right: 10px; margin-bottom: 2em; border: 1px solid #ccc; -moz-box-shadow: 0 5px 5px -3px #222; -webkit-box-shadow: 0 5px 5px -3px #222; box-shadow: 0 5px 5px -3px #222; }
/* .portfolio li:nth-child(4n) { margin-right: 0; } */
.portfolio a { display: block; border: 3px solid #fff;  text-decoration: none; }
.portfolio img { width: 210px; height: 130px; display: block; border: 1px solid #ccc; }